* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif; 
    background-image: url("assets/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Navbar */
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    color: rgb(255, 255, 255);
    height: 50px;
    align-items: center;
}

    nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-evenly;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
nav .register {
    display: flex;
    list-style: none;
    width: 10%;
    justify-content: space-between;
}
nav .register a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
nav ul li a:hover {
    color: tomato;
}
nav .register a:hover {
    color: tomato;
}

/*Responsive Breakpoint*/

/*Tablet*/
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
    nav .register {
        width: 60%;
    }
    h1 p {
        width: 50%;
    }
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4.5em;
    padding-top: 220px;
    color: white;
}
p {
    display: flex;
    height: 7vh;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.button {
    background-color: goldenrod;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button {
    font-size: 12px;
    padding: 14px 60px;
    border-radius: 4px;
}
.button:hover {
    background-color: black;
    color: red;
}
.footer {
    tdisplay: flex;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    padding-top: 150px;
    color: white;
}